@font-face {
    font-family: 'vtuber';
    src: url('fot-yuruka-std.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    background-image: url('images/bg-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.snowflake {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 7vh;
    height: 7vh;
    animation: fall 5s linear infinite;
}
h1 {
    font-size: 4em;
    text-align: center;
    margin-top: 10vh;
    color: white;
    font-family: 'vtuber', sans-serif;
    -webkit-text-stroke-width: 2.5px;
    -webkit-text-stroke-color: black;
}
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 33vh;
    width: 25%;
}
@keyframes fall {
    0% {
        transform: translateY(-10vh) translateX(0);
    }
    25% {
        transform: translateY(20vh) translateX(5vw);
    }
    50% {
        transform: translateY(45vh) translateX(11vw);
    }
    75% {
        transform: translateY(75vh) translateX(13vw);
    }
    100% {
        transform: translateY(100vh) translateX(15vw);
    }
}